.container{
  display: inline-block;
  border: 2px groove #bbbbbb;
  padding: 7px 20px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;

}

.container:hover {
  border-color: aqua;
}

#main {
  width: 100%;
  text-align: center;
  border: none;
}

li{
  color:#2980b9;
  background: -webkit-gradient(linear, left top, left bottom,
  color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));
  background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
}

li:hover {
  color: #16a085;
  box-shadow: 10px 10px 5px #888888;
  border-bottom:none;

}

li div{
  display: inline-block;
  padding: 0 15px;

}


ul{
  list-style-type: none;
}


h4{
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 25px;
  color: tomato;
  border-bottom:1px solid #313030;



}

.artist {
  font-size: 23px;
  float:left;
}
.title{
  float:none;
}
.playcount{
  float:right
}

audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
width: 600px;list-style-type: none;
}
