div{
  display: inline-block;
  border: 2px groove #bbbbbb;
  padding: 7px 20px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;

}

div:hover {
  border-color: aqua;
}

#main {
  width: 100%;
  text-align: center;
  border: none;
}

tr:hover {
  color: #16a085;
}

tr{
  color:#2980b9;
  padding: 5px;

}

tr:nth-child(even) {
  border:3px solid black;
}

td {
  vertical-align: middle;
  padding: 3px 5px 5px 5px;
}

th{
  vertical-align: middle;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 25px;
  color: tomato;

}

.playlist{

}
.library{

}

